:root {
  --text: #8b8bb8;
  --text-h: #e8e8ff;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: rgb(196, 255, 77);
  --accent-bg: rgba(196, 255, 77, 0.15);
  --accent-border: rgba(196, 255, 77, 0.5);
  --error: #f87171;
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: "Barlow Condensed", sans-serif;
  --heading: "Barlow Condensed", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: dark;
  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 63.99rem) {
    font-size: 16px;
  }
}
