@import "./styles/tokens.css";

:root {
  font: var(--text-base) / 1.6 var(--sans);
  font-weight: 400;
  color-scheme: dark;
  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 63.99rem) {
    font-size: 15px;
  }
}
